body{
    background:url(../picture/背景色.jpg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-size: cover;  
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
}