body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    padding-top: 60px; /* 确保页面内容不会被固定的头部遮挡 */
}

/* 页脚stare */
#footer {
    display: flex; 
    justify-content: space-between;
    background: rgb(124,164,164);
}
#footer img {
    margin: auto 0px;
    width: 15%;
    height: 5%;
    float: left;
}
#footer-p {
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}
#footer a {
    text-decoration: none; 
    color: white;
    transition: background-color 0.3s;
}
#footer a:hover {
    background-color: grey; 
    border-radius: 4px;
}
/* 页脚end */

/* 头部stare */
#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px; /* 设置头部高度 */
}
#header-left{
    display: flex;
    justify-content: start;
}
#return{
    width: 5%;
    height: auto;
}
#header-button{
    width: 75%;
    display: flex;
    align-items: center;
    float: right;
}
#search {
    max-width: 20%;
    margin: 0 10px;
}
#search input {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}

#header-button>button{
    width: auto;
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
/* 头部end */

/* 盒子模型stare */
#label{
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    width: 15%;
    padding: 10px 20px;
    margin: 5% 2%;
    border: 1px solid black;
}
#button-more-container {
    display: flex;
    justify-content: center; 
}
#button-more{
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
}
#user{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 2% 0px;
}
#user-left {
    display: flex;
    align-items: center; 
    margin-left: 5%;
}
#user-left>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px; 
}
#nichen{
    font-size: 16px;
}
#guanzhu{
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}
/* 盒子模型end */

/* 作品集stare */
#work-all{
    margin-top: 4%;
}

#works {
    background-color: rgb(215, 215, 215);
    width: 100%;
    padding-top: 1%;
}
#works-inside{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    padding: 20px;
}
#works-part {
    width: 25%;
    margin-right: 5%;
    background-color: white;
    border: 1px solid black;
}
#work-pic{
    width: 100%;
    height: auto;
}
#name{
    font-size: 20px;
    margin-top: 3%;
    font-weight: bold;
}
#part1{
    display: flex;
    justify-content: space-around;
}
#work-icon{
    width: 10%;
    height: 10%;
}
#part1-p{
    color: grey;
    font-size: 12px;
}
/* 作品集end */

/* 画师集stare */
#painter{
    background-color: white;
    width: 100%;
}
#painter-inside{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    padding: 20px;
}
#painter-part{
    width: 25%;
    margin-right: 5%;
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
}
#pic{
    width: 100%;
    height: auto;
}
/* 画师集end */

/* 漫画集stare */
#cartoon{
    background-color:  rgb(215, 215, 215);
    width: 100%;
    padding-top: 1%;
}
#cartoon-inside{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    padding: 20px;
}
#cartoon-part{
    width: 25%;
    margin-right: 5%;
    background-color: white;
    border: 1px solid black;
}
#pic{
    width: 100%;
    height: auto;
}
/* 漫画集end */

/* 自适应stare */
@media (max-width: 768px) {
    #work-all{
        margin-top: 8%;
    }
    #footer-p {
        font-size: 8px;
    }
    #header-button button{
        width: 30%;
        font-size: 10px;
        font-weight: normal;
        white-space: nowrap;
    }
    #label{
        font-size: 14px;
    }
    #name{
        font-size: 14px;
    }
    #part1-p{
        font-size: 8px;
    }
    #nichen{
        font-size: 10px;
    }
    #guanzhu{
        font-size: 10px;
        padding: 3px 5px;
    }
    #user-left>img{
        width: 30px;
        height: 30px;
    }
    #button-more{
        padding: 8px 20px;
        font-size: 12px;
    }
}
/* 自适应end */